*{
	margin: 0;
	padding: 0;
}

#container{

	/*background: silver;*/
	width: 1200px;
	/*height: 680px; child dictates*/ 
	margin: 0 auto;
	/*padding: 10px;*/
	border: 1px solid black;
	font-family: arial, verdana, sans-serif;
}
	#header{
		background:brown;
		width: 1180px;
		padding: 20px 10px;
		color: white;
	}
	#nav{

		background: orange;
		width: 1200px;
		/*height: 50px;*/ /*gets dependent on child size properties*/
	}
		#nav ul {
			list-style: none;
		}
			#nav ul li{

				float:left;
				width: 240px;
				padding: 15px;
				text-align: center;
			}
			#nav ul li:hover{
				background: #ffd280;
				color: brown;
			}

			#nav a{
				color: black;
			}
	#middle{
		/*background: grey;*/
		/*width: 1200px;*/
		/*height: 400px;*/
		/*padding: 10px 0;*/
	}
		#left{
			/*background: lightgreen;*/
			width: 800px;
			height: 600px;
			float: left;
		}
			.post{
				/*background: silver;*/
				margin: 20px; 
				/*height: 200px;*/
			}
				.title{
					background: brown;
					padding: 20px 10px;
					color: white;
					font-size: 15px;
					font-weight: bold;
				}

				.description{
					background: #f1f1f1;
					padding: 20px;
				}
		#right{
			/*background: lightblue;*/
			width: 360px;
			height: 600px;
			float: left;
			padding: 20px;
		}
		#right h2 {
			text-align: center;
		}
		#latest_post_group{
			margin: 10px 0;
		}
		.latest_post{
			background:  brown;
		/*	border: 2px solid black;*/
			padding: 10px 0;
			text-align: center;
			color: white;
		}
		#news_letter{

		}
			.news_letter_head{
				text-align:center;
				font-size: 25px;
			}
			input[type='text'] {
				width:360px;
				height: 30px ;
			}
			input[type='submit'] {
				width:360px;
				margin: 10px 0;
				background: orange;
				color: black;
				padding: 10px 0;
				border: none;
				font-size: 20px;

			}

			input[type='submit']:hover {
				background: brown;
				color: white;
		

			}
		#footer{
			width:1200px;
			background: brown;
			color: white;
			padding: 20px 0;
			text-align: center;
			border: none;
			font-size: 10px;
		}


	#footer {
		background: brown;
		width: 1200px;
		height: 50px ;
	}



