<h1>Lista de treinos</h1>

<% @treinos.each do |treino| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-4 col-md-offset-4">
        <% if (treino.group_id).to_i == (params[:group_id]).to_i %>
          <li>
            <%= link_to treino.nome, treino_path(treino.group_id, treino.id) %><br/>
          </li>
        <% end %>
      </div>
    </div>
  </ul>
<% end %>

<%= link_to 'Adicionar treino', new_treino_path %>
<%= link_to 'Voltar', group_treinos_path %>